/* desktop settings */

@media screen and (min-width: 1000px){

    header {
        height: 5vh;
    }
    
    nav {
        height: 15vh;
        z-index: 50;
    }

    .carousel-inner {
        height: 80vh;
    }

    #intro {
        height: 100vh;
    }

    #carouselExampleControls {
        padding-top: 7em;
        height: 100vh;
    }

    #who h1 {
        margin-top: 2.5em;
    }

    #predicas-mp4 {
        height: 70vh;
        object-fit: scale-down;
        object-position: center center;
    }
}