/* mobile settings */

@media screen and (max-width: 999px) {
    
    nav {
        width: 100vw !important;
        height: 50vh;
        z-index: 50;
    }

    #nav-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #logo {
        font-size: 2.7em !important;
    }

    .navbar-toggler {
        width: 6em !important;
        height: 6em !important;
        border-color: var(--white_on) !important;
    }

    .navbar-toggler-icon {
      width: 3em !important;
       height: 3em !important;
    }

    .nav-link {
        font-size: 2em;
    }

    #nomobile, #carouselExampleControls {
        display: none;
    }

    #who {
        width: 100vw !important;
        display: flex;
        flex-direction: column;
    }

    #who h1 {
        margin-left: 1em !important;
        margin-top: 9.5em;
        font-size: 3em !important;
    }

    #who p {
        font-size: 2em !important;
    }

    #info {
        margin-left: 4em !important;
        font-size: 1.9em !important;
    }

    .title-meet {
        font-size: 3em !important;
    }

    .description-meet {
        font-size: 1.8em !important;
    }

    h1 {
        font-size: 22em !important;
    }

    .we-are {
        margin-top: 2em !important;
        font-size: 2.8em !important;
    }

    .we-are2 {
        font-size: 1.8em !important;
    }
    .social-items {
        display: none;
    }

    #numeros-local {
        flex-direction: column;
        align-items: center;
    }

    .info-geo {
        font-size: 1.8em !important;
    }

    .info-geo2 {
        font-size: 2.5em !important;
    }

    .info-geo-active {
        margin-bottom: 2em !important;
    }

    #local {
        border: none !important;
    }

    footer {
        display: none;
    }
}